*{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px;
    input{
        width: 25vw;
        padding: 8px;
        color: black;
        border-radius: 5px;
    }
    button{
        color: white;
        background-color: black;
        border: none;
        border-radius: 5px;
        width: 130px;
        padding: 10px;
        cursor: pointer;
    }
}